#body-index{
	background:-webkit-radial-gradient(center,ellipse cover,#fff 0,#f2efd9 100%);
}
.row .col{
	padding:0;
}
/* SLIDER */
#ani_conten_slider{
	background-color:white;
}
.slider li{
	background-color:white;
	border-style:none;
	border:none;
	width:300px;
	height:300px;
}
.slider li img{
	width:300px;
	height:300px;
}
.slider .indicators{
	background:-webkit-radial-gradient(center,ellipse cover,#fff 0,#f2efd9 100%);
}
.slider{
	background:-webkit-radial-gradient(center,ellipse cover,#fff 0,#f2efd9 100%);
}
/*BOTONES INDEX*/
.ani_boton_index{
	background-color:$blue;
	color: white;
	padding: 10px;
	width:80%;
	font-size:20px;
	border-style:none;
	border-radius:5px;
	margin-left:10%;
	margin-top:45px;
	cursor: pointer;
} 
.ani_boton_index_dos{
	margin-top:10px;
	color: white;
}
.ani_boton_a{
	margin-left:10%;
	color:white;
	padding-top:10px;
	font-size:15px;
}
.ani_registrar_a{
	color:white;
	font-size:20px;
}
/* ------ SIGN UP ------ */
#body-screen2{
	background:-webkit-radial-gradient(center,ellipse cover,#fff 0,#f2efd9 100%);
}
.ani_registro_h2{
	text-align:center;
	margin-top:50px;
	color: $blue;
}
.ani_input{
	margin-left:10%;
	width:80%;
	padding-bottom: 30px;
}
.ani_registro_label{
	color: $blue;
	font-size:15px;
}
.ani_registro_boton{
	width:80%;
	background-color:white;
	padding:10px;
	border-style:none;
	border:1px solid #32dbc9;
	border-radius:5px;
	font-size:12px;
	color: $blue;
}
.ani_registro_div{
	margin-top:50px;
}

/* ------- PERFIL -------*/

.ani_perfil_contenImage{
	width:60%;
	margin-left:20%;
	height:300px;
	border-radius:50%;
}

input[type=text]:not(.browser-default):focus:not[read-only]{
	border-bottom: none !important;
	box-shadow: none;

}