.no-space {
  margin-bottom: 0px;
}

.container-fluid {
  .row {
    .col {
      .icon-js {
        font-size: 80px;
        position: relative;
        right: 0px;
       
        text-align: center;
      }
    }
  }
}

.collapsible {
  img {
    width: 50px;
    height: 45px;
    margin-right: 25px;
  }
}

.welcome {
  p {
    font-size: 15px;
    text-align: justify;
    z-index: 9999;
    margin-top: 14px;
  }
}

.stage {
  h5 {
    color: $yellow;
    font-family: $openSans;
    font-weight: bold;
  }
}

.syllabus {
  .btn {
    width: 135px;
    font-size: 10px;
    left: 0% !important;
    margin-top: 10px !important;
  }

  .btn-lg {
    height: 70px;
  }
}

.arrow {
  position: relative;
}

.titulo-5a {
  .brand-logo {
    position: relative;
    bottom: 55px;
    left: 55px;
    font-family: $openSans;
    font-size: 20px;
    color: black;
  }
}

.background-square {
  height: 250px;
  width: 350px;
  position: relative;
  background-color: white;
  z-index: -1;
  margin-top: 25px;
}

.navbar {
  background-color: transparent !important;
  box-shadow: none;
}

.snippet {
  height: 100px;

  img {
    width: 349px;
    position: relative;
    
  }

  input {
    width: 40px !important;
    position: relative;
    bottom: 247px;
    left: 150px;
  }
}

.content {
  padding-top: 44px;
  padding-left: 20px;
}
footer{
    padding-left: 20px;
    text-align: center;
}
.continue{
        padding-top: 37%;
}

.no-space{
	margin-bottom: 0px;
	h5{
		position: relative;
		font-weight: bold;
		font-family: $openSans;
		bottom: 223px;
		left: 60px;
		color: #31455a;
	}
	p{
		bottom: 198px;
    	position: relative;
    	width: 270px;
    	left: 37px;
	}
}


.container{
	.row{
		.col{
			.icon-js{
				font-size: 80px;
    			position: relative;
    			left: 212px;
    			bottom: 470px;
    			color: #2AB582;
			}
		}
	}

	.background-box{
		height: 264px;
    	position: relative;
    	z-index: -1;
    	top: 35px;
    	border: 1px solid #cccccc;
;
    	border-radius: 10px;
    	background-color: white;
    	box-shadow: 10px 10px 5px #888888;
	}
}

.collapsible{
	img{
		width: 50px;
    	height: 45px;
    	margin-right: 25px;
	}
	.collapsible-body{
		background: whitesmoke;
	}
}



.collapsible{
	img{
		width: 50px;
    	height: 45px;
    	margin-right: 25px;
	}
	.collapsible-body{
		background: whitesmoke;
	}
}

.welcome{
	.title-var{
		font-family: $openSans;
		background-color: #31455a;
		border-radius: 10px;
		color: whitesmoke;
		width: 190px;
    	position: relative;
    	top: 30px;
    	left: 145px;
	}
	p{
		font-size: 12px;
		font-weight: bold;
		z-index: 9999;
		margin-top: 14px;
		border: 2px solid #31455a;
		border-radius: 10px;
		padding: 20px;
	}
}

.stage{
	h5{
		font-family: $openSans;
		font-weight: bold;
		position: relative;
    	bottom: 258px;
    	color: #31455a;
	}

	.divider{
		position: relative;
    	bottom: 255px;
<<<<<<< HEAD
	}
}

.syllabus{
	.collapsible{
		position: relative;
    	bottom: 265px;
	}
}

.arrow{
	position: relative;
}

.titulo-5a{
	.brand-logo{
		position: relative;
		bottom: 55px;
		left: 55px;
		font-family: $openSans;
		font-size: 20px;
		color: black;
	}
}

=======
	}
}

.syllabus{
	.collapsible{
		position: relative;
    	bottom: 265px;
	}
}

.arrow{
	position: relative;
}

.titulo-5a{
	.brand-logo{
		position: relative;
		bottom: 55px;
		left: 55px;
		font-family: $openSans;
		font-size: 20px;
		color: black;
	}
}

.background-square{
	height: 250px;
	width: 350px;
	position: relative;
	background-color: white;
	z-index: -1;
	margin-top: 25px;
}

.navbar{
	background-color: transparent !important;
	box-shadow: none;
}

.snippet{
	height: 100px;
	img{
		width: 349px;
    	position: relative;
    	top: 25px;
	}
	input{
		width: 40px !important;
    	position: relative;
    	bottom: 221px;
    	left: 161px;
    	font-size: 5px;
	}
}

.collapsible-body{
	ul{
		img{
			width: 30px;
    		position: relative;
    		right: 20px;
		}
		li{
			border: 2px solid #31455a;
    		border-radius: 5px;
    		padding: 5px;
    		position: relative;
    		width: 288px;
    		left: 22px;
    		bottom: 58px;
    		cursor: pointer;
    		p{
    			background-color: #31455a;
    			color: white;
    			padding: 5px;
    			border-radius: 3px;
    		}
		}
	}
}

.final-line{
	a{
		z-index: 9999;
		position: relative;
		bottom: 280px;
    	left: 72px !important;
    	width: 200px;
	}
	img{
		border: 0;
    	width: 300px;
    	z-index: -1;
    	position: relative;
    	left: 95px;
	}
}