.no-space{
	margin-bottom: 0px;
}

.col{
	.devicon-javascript-plain{
		font-size: 170px;
    	color: $blue;
    	position: relative;
    	right: 10px;
    	top: 50px;
	}
	p{
		font-size: 15px;
		font-weight: bold;
	}
	h5{
		color: $yellow;
		font-family: $openSans;
		font-weight: bold;
	}
	img{
		color: $yellow;
		width: 70px;
		height: 40px;
	}
	.icon-list{
		width: 20px;
    	position: relative;
    	top: 15px;
    	right: 15px;
	}
	.btn{
		width: 135px;
    	margin: 5px;
    	position: relative;
    	font-size: 10px;
    	right: 7px;
	}
	.btn-lg{
		height: 70px;
	}
}

.arrow{
	position: relative;
}

.nav-wrapper{
	.brand-logo{
		position: relative;
		bottom: 55px;
		left: 55px;
		font-family: $openSans;
		font-size: 20px;
	}
}